$primary-brown: #bf6952;
$primary-gold: #bfa052;
$primary-green: #52bf69;
$primary-pink: #52a8bf;
$primary-purple: #6952bf;
$primary-turquoise: #52a8bf;

$positive: $primary-brown;
$loading-font-size: 22px;
