// Buttons

.bar-header > button { width: 40px; }

.button {
  background: transparent !important;
  border: none !important;

  &.sign-in-button { background: $primary-turquoise !important; }

  &[type="submit"] { background: $primary-turquoise !important; }
}

.logo-icon { @include center-both; }

// vote btn overrides
.vote-icon svg { height: 20px; }
.item-icon-left .icon:before, .item-icon-right .icon:before { width: 40px !important; }

svg:not(:root) { height: 34px; }

//// SHAME
//
//

.item {
  h2 { padding: 2.5px 0 0 5px; }
  p { padding-left: 5px; }
}

// hide title for now
.title h1 { @include hidden; }


#configure-login-service-dialog {
  background: gray;
  left: 0;
  position: fixed;
  top: 43px;
  z-index: 5;
}

// disable accounts-ui drop menu behavior
.accounts-dialog {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0;
  padding: 0;
}

.login-close-text,
.login-link-text { @include hidden; }
#login-dropdown-list { position: static !important; }

.view {
  box-shadow: none !important;
  margin: auto;
  max-width: 1000px;
}

// hide all scroll bars
::-webkit-scrollbar { display: none; }
