// Layout
.item-center{ float: left; }

button,
.button {
  @include debugger-blue;
  background: transparent !important;
  border: none !important;
}

.logo-icon {
  @include center-both;
  @include hidden;
}

svg:not(:root) { height: 34px; }

//// SHAME
//
//

// hide title for now
.title h1 { @include hidden; }